@model IEnumerable<WebsiteTrangSuc.Models.NguoiDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/Admin_Layout.cshtml";
}

<div class="panel panel-default container MaginTop" style="margin-top:20px">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách người dùng</h3>
            </div>
            <table class="table">
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>

                @{
                    var i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>

                        </tr>
                    }
                    i++;
                }
          

            </table>
    </div>